* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

article {
  width: 60%;
  margin: auto;
}

.cart_box{
  display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; 
}

.cart_box img {
  width: 100px;
  height: 100px;
}
.cart_img {
  display: flex;
  width: 400px;
}

.cart_img p {
  font-weight: bold;
  margin-left: 10px;
}

.cart_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  border-bottom: 2px solid skyblue;
  padding-bottom: 5px;
}
.price{
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 16px;
}
.cart_box div:nth-child(2) button {
  padding: 5px 10px;
  font-weight: bold;
  margin-right: 5px;
}

.cart_box div:nth-child(3) button {
  padding: 5px 10px;
  font-weight: bold;
  letter-spacing: 2px;
  border: none;
  outline: none;
  color: white;
  background-color: #6F2ADD;
  
  cursor: pointer;
}
.cart_box div:nth-child(3) button:hover {
  background-color: #7E68FF;
}
.cart_box div:nth-child(3) span {
  background-color: #6F2ADD;
  padding: 5px 10px;
  color: white;
  margin-right: 10px;
}

.total {
  display: flex;
  justify-content: space-between;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 32px;
}

.total p:nth-child(1) {
  font-size: 2rem;
  color: #ffffff;
  font-weight: bold;
  letter-spacing: 2px;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.total p:nth-child(2) {
  font-size: 2rem;
  color: #ffffff;
  font-weight: bold;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}
