*{
  font-family: 'poppins', sans-serif;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  
  /* background-size: cover;
  background-position: center; */
}

form{
    
    padding: 0px 30px;
    
}



.Submit-btn{
    width: 100%;
    height: 50px;
    padding: 10px;
    border: none;
    background-color: #6F2ADD;
    color: white;
    text-decoration: none;
    list-style: none;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 10px;
}

.login-btn{
  margin: 10px;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
}
.signtxt{
  color: #D3D3D3;
  font-weight: regular;
  font-family: 'poppins', sans-serif;
}